<!DOCTYPE html>
<html>
<head>
    <title>项目信息</title>
</head>
<style>
    body {
    margin: 21%;
    padding: 0;
}
</style>
<body>
<h1>关于我们</h1>
<ul>
    <li>开发人员：
        <ul>
            <li>郝春博 <a href="mailto:550566903@qq.com">550566903@qq.com</a> <a href="https://github.com/xjsc01/">GitHub</a></li>
            <li>刘伟业 <a href="https://github.com/Waitsnow1228">GitHub</a></li>
            <li>化运涛 <a href="https://github.com/huayuntao">GitHub</a></li>
        </ul>
    </li>
</ul>
<h1>分支介绍</h1>
<ul>
    <li>v1.0分支：完全独立开发，版权所有。</li>
    <li>main分支：在v1.0的基础上，包含丰富的效果，仅用于非盈利展示。</li>
</ul>
<h1>功能说明</h1>
<ul>
    <li>在这一个系统中包括管理员，快递员，普通用户。</li>
    <li>管理员可以对快递员，用户进行管理，对所有快递进行查看。</li>
    <li>快递员可以根据订单编号进行增加动态。</li>
    <li>用户可以新建快递，查询自己的快递。</li>
</ul>
<h1>仓库地址</h1>
<ul>
    <li><a href="https://github.com/huayuntao/genshin/tree/v1.0">该项目GitHub仓库</a></li>
    <li><a href="https://git.xjsc01.top/513/genshin">另一个仓库地址</a></li>
</ul>
<h1>项目展示地址</h1>
<ul>
    <li><a href="http://43.143.134.44:8070/">v1.0 分支项目展示</a></li>
    <li><a href="http://81.70.31.60:1000/">main分支项目展示</a></li>
    <li><a href="https://gpsys.xjsc01.top/">海外main分支项目展示</a></li>
</ul>
</body>
</html>
