<!DOCTYPE html>
<html>
<head>
    <title>项目信息</title>
</head>
<style>
    body {
    margin: 21%;
    padding: 0;
}
</style>
<body>
<h1>关于我们</h1>
<ul>
    <li>
        西北工业大学-版权所有
    </li>
    <li>开发人员：
        <ul>
            <li>郝春博 <a href="mailto:550566903@qq.com">550566903@qq.com</a> <a href="https://github.com/xjsc01/">GitHub</a></li>
            <li>刘伟业 <a href="https://github.com/Waitsnow1228">GitHub</a></li>
            <li>化运涛 <a href="https://github.com/huayuntao">GitHub</a></li>
        </ul>
    </li>
    <li>   功能说明</br>
            在这一个系统中包括管理员，快递员，普通用户。
        <ul>
            <li>管理员可以对快递员，用户进行管理，对所有快递进行查看</li>
            <li>快递员可以根据订单编号进行增加动态</li>
            <li>用户可以新建快递，查询自己的快递</li>
        </ul>
    </li>
</ul>
</body>
</html>
