{% extends 'layout.html' %}

{% block content %}
<style>
        /* 添加背景图片 */
        body {
            background-image: url('/static/img/back.png'); /* 替换为你的背景图片链接 */
            background-size: cover; /* 背景图片覆盖整个页面 */
            background-repeat: repeat | no-repeat | repeat-x | repeat-y

  body {
    cursor: url('/static/img/mouse1.png'), auto;
            }
        }

        .container {
            text-align: center; /* 确保容器内的内容居中 */
        }
        .form-group {
            display: inline-block;
            text-align: left; /* 确保表单元素左对齐 */
            margin-right: 20px; /* 如果需要，可以调整间距 */
        }
        .btn-center {
            text-align: center; /* 提交按钮居中 */
            display: block; /* 确保占据整行 */
        }
    </style>
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/admin/user/add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>

                添加用户
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder=""
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true">

                            </span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true">

                </span>
                用户管理
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th>电话号码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.uname }}</td>
                        <td>{{ obj.real_name }}</td>
                        <td>{{ obj.phone_num }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/admin/user/edit/{{ obj.id }}/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/admin/user/delete/{{ obj.id }}/">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>

        </div>

    </div>
{% endblock %}
