{% extends 'layout.html' %}


{% block content %}
<style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background: url('/static/img/back.png') no-repeat center center fixed;
            background-size: cover;
            animation: fadeIn 1s ease-in-out; /* 可选：添加淡入效果 */
        }

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
    </style>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">  新建用户 </h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
