{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快递管理系统 - {{ request.session.info.uname }}</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        *{
    cursor:url(/static/img/mouse3.png),auto;
<!--    width: 20px; /* 设置光标的宽度 */-->
<!--    height: 20px; /* 设置光标的高度 */-->
<!--    background-color: transparent; /* 设置光标的背景颜色为透明 */-->
        }
        .navbar {
            border-radius: 0;
        }
<!--    html, body {-->
<!--    height: 200%;-->
<!--    margin: 0;-->
<!--    padding: 0;-->
<!--    overflow: hidden;-->
<!--}-->
<!--.child2 {-->
<!--  flex-grow: 1;-->
<!--  background-color: blue;-->
<!--}-->
    </style>

    {% block css %}{% endblock %}
</head>
<body>







<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div style="display: flex; align-items: center;">
                <!-- 图片 -->

                <!-- 文本 -->
                <a class="navbar-brand" href="#"
                   style="font-weight: bold; font-size: 33px; margin-left: 10px;">快递管理系统</a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                {% if request.session.info.role == '1' %}
                    <li><a class="check-prefix" href="/user/list/send">我发送的</a></li>
                    <li><a class="check-prefix" href="/user/list/receive">我接受的</a></li>
                    <li><a class="check-prefix" href="/user/order/add">创建快递</a></li>
                {% elif request.session.info.role == '2' %}
                    <li><a class="check-prefix" href="/courier/home">工作空间</a></li>
                    <li><a class="check-prefix" href="/courier/managed/order">我处理的快递</a></li>
                {% else %}
                    <li><a class="check-prefix" href="/admin/user/list">普通用户管理</a></li>
                    <li><a class="check-prefix" href="/admin/courier/list">快递员管理</a></li>
                    <li><a class="check-prefix" href="/admin/order/total">快递总览</a></li>
                {% endif %}
                <li><a class="check-prefix" href="/about-us/" target="_blank">关于我们</a></li>
            </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        {% if request.session.info.role == '1' %}

                            普通用户：
                        {% elif request.session.info.role == '2' %}

                            快递员：
                        {% else %}

                            管理员：
                        {% endif %}
                        {{ request.session.info.uname }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if request.session.info.role == '1' %}
                            <li><a href="/user/personal/information/list">我的信息</a></li>
                        {% elif request.session.info.role == '2' %}
                            <li><a href="/courier/personal/information/list">我的信息</a></li>
                        {% endif %}

                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="child2"></div>
<div>
    {% block content %}{% endblock %}
</div>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
<script>
    // 定义一个函数来检查字符串是否具有特定的前缀
    function hasPrefix(str, prefix) {
        return str.endsWith(prefix);
    }

    document.addEventListener('DOMContentLoaded', function () {
        // 假设要检查的前缀是 '创建'

        // 获取所有具有 'check-prefix' 类的元素
        var links = document.querySelectorAll('.check-prefix');
        var currentUrl = window.location.href;
        //console.log(currentUrl);
        // 遍历这些链接并检查它们的文本
        links.forEach(function (link) {
            var href = link.getAttribute('href');
            var href1 = href + '/';
            //console.log(href);

            if (hasPrefix(currentUrl, href) || hasPrefix(currentUrl, href1)) {
                link.parentNode.classList.add('active');
            }
        });
    });


<!-- 鼠标点击特效 -->
var a_idx = 0;
$("body").click(function(e) {
        var a = new Array("❤去活出你自己。❤","❤今天的好计划胜过明天的完美计划。❤",
                          "❤不要轻言放弃，否则对不起自己。❤","❤紧要关头不放弃，绝望就会变成希望。❤",
                          "❤如果不能改变结果，那就完善过程。❤","❤好好活就是干有意义的事，有意义的事就是好好活！❤",
                          "❤你真正是谁并不重要，重要的是你的所做所为。❤",
                          "❤你不想为你的信仰冒一下险吗?难道想等你老了，再后悔莫及吗?❤",
                          "❤有些鸟儿是关不住的，它的每一根羽毛都闪耀着自由的光辉。❤",
                          "❤决定我们成为什么样人的，不是我们的能力，而是我们的选择。❤",
                          "❤掉在水里你不会淹死，呆在水里你才会淹死，你只有游，不停的往前游。❤",
                          "❤有些路，只能一个人走。❤","❤希望你眼眸有星辰，心中有山海。❤",
                          "❤从此以梦为马，不负韶华。❤","❤人的成就和差异决定于其业余时间。❤",
                          "❤佛不要你皈依，佛要你欢喜。❤","❤ダーリンのこと　大好きだよ❤",
                          "❤小猫在午睡时，地球在转。❤","❤我，混世大魔王，申请做你的小熊软糖。❤",
                          "❤决定好啦，要暗暗努力。❤","❤呐，做人呢最紧要开心。❤",
                          "❤好想邀请你一起去云朵上打呼噜呀。❤","❤永远年轻，永远热泪盈眶。❤",
                          "❤我生来平庸，也生来骄傲。❤","❤我走得很慢，但我从不后退。❤",
                          "❤人间不正经生活手册。❤","❤我是可爱的小姑娘，你是可爱。❤",
                          "❤数学里，有个温柔霸道的词，有且仅有。❤","❤吧唧一口，吃掉难过。❤",
                          "❤你头发乱了哦。❤","❤健康可爱，没有眼袋。❤","❤日月星辰之外，你是第四种难得。❤",
                          "❤你是否成为了了不起的成年人？❤","❤大家都是第一次做人。❤","❤何事喧哗？！❤",
                          "❤人间有味是清欢。❤","❤你笑起来真像好天气。❤","❤风填词半句，雪斟酒一壶。❤",
                          "❤除了自渡，他人爱莫能助。❤","❤昨日种种，皆成今我。❤","❤一梦入混沌 明月撞星辰❤",
                          "❤保持独立 适当拥有❤","❤谢谢你出现 这一生我很喜欢❤","❤做自己就好了 我会喜欢你的❤",
                          "❤太严肃的话，是没办法在人间寻欢作乐的❤","❤愿你余生可随遇而安，步步慢。❤",
                          "❤黄瓜在于拍，人生在于嗨❤","❤奇变偶不变，符号看象限。❤","❤从来如此，便对么？❤",
                          "❤今天我这儿的太阳，正好适合晒钙 你呢❤","❤未来可期，万事胜意。❤",
                          "❤星光不问赶路人 时光不负有心人❤","❤我当然不会试图摘月，我要月亮奔我而来❤",
                          "❤女生要修炼成的五样东西： 扬在脸上的自信，长在心底的善良， 融进血里的骨气，刻进命里的坚强，深到骨子里的教养❤",
                          "❤燕去燕归，沧海桑田。纵此生不见，平安惟愿❤","❤我想认识你 趁风不注意❤","❤我一直想从你的窗子里看月亮❤",
                          "❤长大应该是变温柔，对全世界都温柔。❤","❤别在深夜做任何决定❤","❤山中何事，松花酿酒，春水煎茶。❤",
                          "❤桃李春风一杯酒，江湖夜雨十年灯。❤","❤欲买桂花同载酒，终不似，少年游。❤");
        var $i = $("<span></span>").text(a[a_idx]);
        a_idx = (a_idx + 1) % a.length;
        var x = e.pageX,
        y = e.pageY;
        $i.css({
            "z-index": 999999999999999,
            "top": y - 20,
            "left": x,
            "position": "absolute",
            "font-weight": "bold",
            "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
        });
        $("body").append($i);
        $i.animate({
            "top": y - 180,
            "opacity": 0
        },
        1500,
        function() {
            $i.remove();
        });
    });
</script>
<script type="text/javascript" language="javascript">
　　//Setting ico for cnblogs
　　var linkObject = document.createElement('link');
　　linkObject.rel = "shortcut icon";
　　linkObject.href = "https://blog-static.cnblogs.com/files/zhangshuhao1116/favicon.ico";
　　document.getElementsByTagName("head")[0].appendChild(linkObject);
</script>

<!--     var mouse = document.querySelector('.mouse');-->
<!--        window.addEventListener('mousemove',function(event){-->
<!--            mouse.style.left = event.clientX - mouse.offsetWidth/2 + 'px' ;-->
<!--            mouse.style.top = event.clientY -mouse.offsetHeight/2 + 'px';-->
<!--        })-->
</script>
{% block js %}{% endblock %}
</body>
</html>


