{% extends 'layout.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>跳转页面</title>
        <style>
            /* 添加背景图片 */
            body {
                background-image: url('/static/img/reg2.png'); /* 替换为你的背景图片链接 */
                background-size: cover; /* 背景图片覆盖整个页面 */
            }

        </style>
    </head>
    <body>
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">


        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                处理快递列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>快递单号</th>
                    <th>收件人</th>
                    <th>收件地址</th>
                    <th>状态</th>
                    <th>详情</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.order__order_num }}</td>
                        <td>{{ obj.order__receiver__real_name }}</td>
                        <td>{{ obj.order__receive_addr }}</td>
                        <td>
                            {% if obj.order__status == 1 %}
                                <span style="background-color: #edd85c">派送中</span>
                            {% elif obj.order__status == 2 %}
                                <span style="background-color: #ff6969">已送达</span>
                            {% else %}
                                <span style="background-color: #6fff6f">已取货</span>
                            {% endif %}
                        </td>
                        <td>
                            <a target='_blank' class="btn btn-info btn-xs"
                               href="/courier/order/detail/{{ obj.order__order_num }}/">详情</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>

        </div>

    </div>
    </body>
{% endblock %}
