{% extends 'layout.html' %}

{% block content %}
<style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background: url('/static/img/move2.gif') no-repeat center center fixed;
            background-size: cover;
            animation: fadeIn 0s ease-in-out; /* 可选：添加淡入效果 */
        }

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
    </style>
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/admin/courier/add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                添加用户
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Genshin is waiting for you..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true">
                                <img src="/static/img/move3.gif" alt="Search" style="width: 20px; height: 20px;">
                            </span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true">
                     <img src="/static/img/move5.gif" alt="Search" style="width: 30px; height: 25px;">
                </span>
                快递员管理
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><img src="/static/img/shin1.png" style="width: 30px; height: 30px;">用户名</th>
                    <th><img src="/static/img/shin2.png" style="width: 30px; height: 30px;">真实姓名</th>
                    <th><img src="/static/img/shin3.png" style="width: 30px; height: 30px;">电话号码</th>
                    <th><img src="/static/img/shin4.png" style="width: 30px; height: 30px;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.uname }}</td>
                        <td>{{ obj.real_name }}</td>
                        <td>{{ obj.phone_num }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/admin/courier/edit/{{ obj.id }}/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/admin/courier/delete/{{ obj.id }}/">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>

        </div>

    </div>
{% endblock %}
